<div class="container">
  <div class="heading text-center">
    <h2>Checkout</h2>
    <hr>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="details">
        <div class="title">
          <h3>Shipping Details</h3>
          <hr>
        </div>
        <div class="form">
          <form action="">
            <div class="row">
              <div class="col-6">
                <input type="text" class="form-control" placeholder="First Name">
              </div>
              <div class="col-6">
                <input type="text" class="form-control" placeholder="Last Name">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <input type="text" class="form-control" placeholder="Mobile No.">
              </div>
              <div class="col-6">
                <input type="text" class="form-control" placeholder="E-mail Id">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <input type="text" class="form-control" placeholder="Address 1">
              </div>
              <div class="col-6">
                <input type="text" class="form-control" placeholder="Address 2">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <input type="text" class="form-control" placeholder="City">
              </div>
              <div class="col-6">
                <input type="text" class="form-control" placeholder="Zip code">
              </div>

            </div>
            <div>
              <button type="submit" class="placeorder">Place Your Order</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Shipping details ends here-->

    <div class="col-4">
      <div class="details">
        <div class="title">
          <h3>Your Order Summary</h3>
          <hr>
        </div>
        <div class="bill">
          <div class="row">
            <div class="col-8">
              <p>Sub Total</p>
            </div>
            <div class="col-4">
              <p> ₹ {{Total}} /-</p>
            </div>
            <div class="col-8">
              <p>Shipping Charges </p>
            </div>
            <div class="col-4">
              <p> FREE</p>
            </div>
            <hr>
            <div class="col-8">
              <p>Total</p>
            </div>
            <div class="col-4">
              <p> ₹ {{Total}} /-</p>
            </div>

          </div>  <!--row ends here-->
        </div>
      </div>
    </div>
    <!--oder summary ends here-->
  </div>

</div>
