<!-- Footer -->
<footer class="page-footer font-small pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-5 mt-md-0 mt-3">

        <!-- Content -->
        <h5 id="item">Comfi-Furnitures</h5>
        <div class="ftco-footer-widget p-4">
          <div class="def">
            <p class="d-flex justify-content-left"><span> Whether you just moved into a new home or
              looking to revamp your current one,we at <b><i>Comfi-Furnitures</i> </b> are here to
              inspire you with affordable home furniture solutions, there is a piece of furniture
              to every corner of your home. Create a home that is perfect for you.</span></p>
          </div>
          <div class="media-icons">
            <span><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></span>
          </div>
        </div>

      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="topic">Services</h5>
          <div class="details">
            <ul class="list-unstyled">
              <a href="#"><li>Design your Room</li><hr width="75%"></a>
              <a href="#"><li>Delivery Service</li></a><hr>
              <a href="#"><li>Installation Service</li></a><hr>
              <a href="#"><li>Customer Service</li></a><hr>
            </ul>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="topic">Contact Us</h5>
        <div class="details">
          <div><a href="#">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
             Office #38, Suite 54, Elizebeth Street, Victoria State, NewYork, USA 33026</a><hr>
          </div>
          <div><a href="#">
            <i class="fa fa-phone fa-2x" aria-hidden="true"></i> 1038 000 129900</a><hr>
          </div>
          <div><a href="#">
            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i> info@comfy-furniture.net</a><hr>
          </div>
      </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright">© 2022 Copyright. All Rights Reseved.</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

