<section class="product">
  <div class="pg">
    <div class="title text-center">
        <h1>Decor</h1>
        <p>All you need to create your space</p>
    </div>
    <div class="part">
      <div class="heading text-center">
        <h2>Decorative Displays</h2>
        <hr>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col-md-3" *ngFor="let prod of Decor">
            <div class="box">
              <div class="product_image">
                <img src="{{prod.prodimg}}" alt="Decor">
              </div>
              <div class="content">
                <h4>₹ {{prod.prodprice}}/-</h4>
                <!--<h6>Product ID - {{prod.prodId}}</h6>-->
              </div>
              <!-- <div class="quan">
                <button type="button" (click)="incQnt(prod)"><i class="fa fa-plus-square"></i></button>
                <span>{{prod.prodquantity}}</span>
                <button type="button" (click)="decQnt(prod)"><i class="fa fa-minus-square"></i></button>
              </div> -->
              <button type="button" class="btn" (click)="addCart(prod)">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
